@font-face {
  font-family: 'BatmanForeverAlternate-Regular';
  src: url('../../../public/batmfa__.ttf') format('truetype');
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgba(43, 45, 66, 0.90);
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/fondo.webp);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.laliga {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cuerpo {
  width: 100%;
  display: grid;
  grid-template-rows: 50px 400px;
}

.title_box {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-left: 200px;
}

.title {
  width: 100%;
  color: white;
  font-size: 28px;
  font-family: "BatmanForeverAlternate-Regular", Helvetica, sans-serif;

}

.tablas {
  display: flex;
  justify-content: center;

}

.tabla_jornada,
.tabla_general {
  width: 100%;
  border-collapse: collapse;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "BatmanForeverAlternate-Regular", Helvetica, sans-serif;
  border: 2px solid black;
}

.tabla_jornada th,
.tabla_general th {
  height: 50px;
  background-color: rgb(239, 35, 60);
  border-bottom: 2px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;

}

.tabla_contenido {
  height: 70px;
  border-bottom: 2px solid black;
  align-items: center;
  justify-content: space-around;
  background-color: #353752;
  display: flex;
}


@media (max-width: 768px) {
  .login {
    width: 85%;
  }

  .hexagonos {
    display: none;
  }

  .hexagonos2 {
    top: -10%;
    right: -10%;
  }
}