.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(43, 45, 66, 0.90);
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/fondo.webp);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.laliga {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cuerpo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 35px;
  margin-top: 40px;
}

.title_box {
  width: 100%;
  margin-left: 5%;
}

.title {
  width: 100%;
  color: white;
  font-size: 44px;
  font-family: "BatmanForeverAlternate-Regular", Helvetica, sans-serif;
  margin-left: 50px;
}

.tablas {
  display: flex;
  justify-content: center;
}

.tabla_jornada {
  width: 100%;
  border-collapse: collapse;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "BatmanForeverAlternate-Regular", Helvetica, sans-serif;
}

.tabla_jornada tbody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media (max-width: 768px) {
  .login {
    width: 85%;
  }

  .hexagonos {
    display: none;
  }

  .hexagonos2 {
    top: -10%;
    right: -10%;
  }
}